{{ template "head.html" . }}

<form id=nav-form>
    <select>
    {{ $group := "" }}
    {{ range .Data.Links }}
        {{ if ne .Group $group }}
            {{ $group = .Group }}
            <optgroup label="{{ .Group }}">
        {{ end }}

        <option value="{{ .Path }}" {{ if eq .Path $.Path }} selected {{ end }}>
            {{ .Name }}
    {{ end }}
    </select>

    <a href="{{ .Data.Link.Prev.Path }}" title=Previous>
        <img src='{{ asset "img/arrow-left-square-fill.svg" }}'>
    </a>

    <a href=/random title=Random>
        <img src='{{ asset "img/dice-3-fill.svg" }}'>
    </a>

    <a href="{{ .Data.Link.Next.Path }}" title=Next>
        <img src='{{ asset "img/arrow-right-square-fill.svg" }}'>
    </a>
</form>

{{ with .Data.Link.Stage }}
<div id=stage-header>
{{ with asset "img" .Path ".jpg" }}
    <img src="{{ . }}">
{{ else }}
    <img src='{{ asset "img/placeholder.jpg" }}'>
{{ end }}
    <h1>{{ .Name }}</h1>
    <nav>
        <img src='{{ asset "img/globe2.svg" }}'>
        {{ .World.Name }}
        <span></span>
        <img src='{{ asset "img/clock.svg" }}'>
        {{ .Timer.Seconds }}s
    </nav>
    <a href="//scores.rolledoutgame.com/stages/{{ .ID }}" target=_blank>
        scores.rolledoutgame.com
    </a>
</div>
{{ end }}

<table class=overflow-second>
    <thead>
        <tr>
            <th class=center title=Rank>#
            <th>Player
        {{ if .Data.Link.Stage }}
            <th class=right>Time
            <th class="right wide">Δ ms
            <th class=right>Points
            <th class="right wide">Date
        {{ else }}
            <th class=right>Stages
            <th class="right wide" title="Mean Average Rank">µ Rank
            <th class="right wide" title="Total Time Taken">Σ Time
            <th class=right title="Total Points">Points
        {{ end }}
    <tbody>
    {{ $lastTime := "" }}
    {{ range .Data.Rows }}
        <tr>
            <td class="center rank-{{ .Rank }}">{{ .Rank }}
            <td>
                <div class=badges>
                    <a href="/players/{{ path .Player }}">{{ .Player }}</a>
                {{ if and .Goal (ne .Goal "Blue") }}
                    <span class="goal-{{ lower .Goal }}">{{ .Goal }}</span>
                {{ end }}
                {{ $records := (index $.Data.RecentRecords .Player) }}
                {{ if ge (len $records) 3 }}
                    <dialog>
                        <div>
                            <h2>🔥 {{ .Player }} is on fire!</h2>
                            <!-- Keep in sync with the SQL -->
                            <p>Three or more top threes in the last three days:
                            <table class=overflow-first>
                                <thead>
                                    <tr>
                                        <th>Stage
                                        <th class=center>Rank
                                        <th class="center wide">Time
                                        <th class=center>Date
                                <tbody>
                                {{ range $records }}
                                    <tr>
                                        <td>
                                            <a href="/{{ .Stage.World.Slug }}">
                                                {{ .Stage.World.Code }}
                                            </a>
                                            /
                                            <a href="{{ .Stage.Path }}">
                                                {{ .Stage.Name }}
                                            </a>
                                        <td class="rank-{{ .Rank }}">{{ .Rank }}
                                        <td class="right wide">{{ time_sec .TimeRemaining }}
                                        <td class=right>{{ date .Date }}
                                {{ end }}
                            </table>
                        </div>
                    </dialog>
                    <button>🔥</button>
                {{ end }}
                </div>
        {{ if $.Data.Link.Stage }}
            <td class=right>
            {{ if .VideoURL }}
                <a href="{{ .VideoURL }}" target=_blank>
                    {{ time_sec .TimeRemaining }}
                </a>
            {{ else }}
                {{ time_sec .TimeRemaining }}
            {{ end }}
            <td class="right wide">
            {{ if $lastTime }}
                {{ comma (delta $lastTime .TimeRemaining) }}
            {{ else }}
                0
            {{ end }}
            {{ $lastTime = .TimeRemaining }}
            <td class=right>
                {{ if ne .Clear 1 }}
                    <s>{{ comma .Points }}</s>
                {{ else }}
                    {{ comma .Points }}
                {{ end }}
            <td class="right wide">{{ date .Date }}
        {{ else }}
            <td class=right>{{ .Stages }}
            <td class="right wide">{{ .AvgRank }}
            <td class="right wide">{{ time_min_sec .TimeTaken }}
            <td class=right>{{ comma .Points }}
        {{ end }}
    {{ end }}
</table>
