{{ template "head.html" . }}

<form id=videoForm method=post name=add_video>
    <select name=stage>
    {{ range .Data.Stages }}
        <option value="{{ .ID }}">{{ .Name }} ({{ .World.Code }})
    {{ end }}
    </select>
    <select name=run></select>
    <input name=url placeholder="https://youtu.be/xxx" required type=url>
    <button>Add</button>
</form>

<table class=table-auto-35-15-auto-auto-50>
    <thead>
        <tr>
            <th class=right>#
            <th>Stage
            <th>Player
            <th>Rank
            <th class=center>Time
            <th>URL
            <th>
    <tbody>
    {{ range .Data.Videos }}
        {{ $s := .Stage }}
        {{ $w := .Stage.World }}
        <tr>
            <td class=right>{{ .ID }}
            <td>
                <div class=badges>
                    <div>
                        <a href="{{ $w.Path }}">{{ $w.Code }}</a> /
                        <a href="{{ $s.Path }}">{{ $s.Name }}</a>
                    </div>
                {{ if ne .Goal "Blue" }}
                    <span class="goal-{{ lower .Goal }}">{{ .Goal }}</span>
                {{ end }}
                </div>
            <td><a href="/players/{{ path .Player }}">{{ .Player }}</a>
            <td class="center {{ with .Rank }}rank-{{ . }}{{ end }}">{{ .Rank }}
            <td class=right>{{ time_sec .TimeRemaining }}
            <td>
                {{ if .VideoTitle }}
                    <a href="{{ .VideoURL }}"
                     target="_blank"
                      title="{{ .VideoAuthor }} - {{ .VideoTitle }}">
                        {{/* Assume videos with titles are YouTube for now */}}
                        <img src='{{ asset "img/youtube.svg" }}'>
                        <span>{{ .VideoAuthor }} - {{ .VideoTitle }}</span>
                    </a>
                {{ else }}
                    <a href="{{ .VideoURL }}">{{ .VideoURL }}</a>
                {{ end }}
            <td>
                <a href="/videos/{{ .ID }}/delete">
                    <img src='{{ asset "img/trash.svg" }}'>
                </a>
    {{ end }}
</table>
